<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Aplicación de cuentas</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>
            <div>
                <button type="button" class="ui-icon ui-icon-plus" onclick="$('#cliente_form').dialog('open')">

                </button>
                <button type="button" class="ui-icon ui-icon-plus" onclick="$('#form_alta_dialog').dialog('open')">

                </button>
            </div>
            <div id="main-table-container">

            </div>
            <div id="cliente_form">
                <div>
                    <form action="/clientes" method="post" id="clientesForm">
                        <input type="hidden" id="_token" name="_token" value="0" th:value="${_csrf.token}"/>
                        <input type="hidden" id="_token_header_name" name="_token" value="0" th:value="${_csrf.headerName}"/>
                        <input type="hidden" id="id" name="id" value="0"/>
                        <div>
                            Nombre:
                            <input type="text" name="nombre" id="nombre"/>
                        </div>
                        <div>
                            Teléfono:
                            <input type="text" name="telefono" id="telefono"/>
                        </div>
                        <div>
                            Dirección:
                            <input type="text" name="direccion" id="direccion"/>
                        </div>
                        <div>
                            Correo:
                            <input type="email" name="correo" id="correo"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="form_alta_dialog">
            <div>
                <div style="display: inline-block">
                    <label for="alta_nombre">Nombre:</label>
                </div>
                <div style="display: inline-block">
                    <input type="text" id="alta_nombre" name="alta_nombre"/>
                </div>
            </div>
            <div>
                <div style="display: inline-block">
                    <label for="alta_telefono">Teléfono:</label>
                </div>
                <div style="display: inline-block">
                    <input type="text" id="alta_telefono" name="alta_telefono"/>
                </div>
            </div>
            <div>
                <div style="display: inline-block">
                    <label for="alta_direccion">Dirección:</label>
                </div>
                <div style="display: inline-block">
                    <input type="text" id="alta_direccion" name="alta_direccion"/>
                </div>
            </div>
            <div>
                <div style="display: inline-block">
                    <label for="alta_correo">Correo:</label>
                </div>
                <div style="display: inline-block">
                    <input type="text" id="alta_correo" name="alta_correo"/>
                </div>
            </div>
            <div>
                <div style="display: inline-block">
                    <label for="alta_saldo">Saldo:</label>
                </div>
                <div style="display: inline-block">
                    <input type="number" step="0.01" id="alta_saldo" name="alta_saldo"/>
                </div>
            </div>
        </div>
        <div id="call_alta_result">
            <div id="call_alta_result_content">
                
            </div>
        </div>
        <link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"/>
        <script src="/jquery-3.3.1.js"></script>
        <script src="/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script>
            $('#call_alta_result').dialog({
                autoOpen:false,
                modal:true,
                width:'auto',
                height:'auto',
                buttons:{
                    'Ok':function(){
                        $('#call_alta_result').dialog('close');
                    }
                }
            });
        </script>
        <script>
                    $(document).ready(
                            function () {
                                $('#cliente_form').dialog({
                                    autoOpen: false,
                                    modal: true,
                                    title: 'Cliente',
                                    width: 'auto',
                                    height: 'auto',
                                    buttons: {
                                        "Aceptar": function () {
                                            postClient(
                                                    $('#id').val(),
                                                    $('#nombre').val(),
                                                    $('#correo').val(),
                                                    $('#direccion').val(),
                                                    $('#telefono').val(),
                                                    $('#_token').val()
                                                    );
                                        },
                                        "Cancelar": function () {
                                            $('#cliente_form').dialog('close')
                                        }
                                    }
                                });
                            }
                    );
        </script>
        <script>
            function reloadMainTable() {
                $.ajax("/ClientsApplication/fullClientsTable", {
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("App broken :'(");
                    },
                    success: function (data, textStatus, jqXHR) {
                        $('#main-table-container').html(data);
                    }
                });
            }
        </script>
        <script>
            $(document).ready(
                    reloadMainTable()
                    );
        </script>
        <script>
            function postClient(
                    id,
                    nombre,
                    correo,
                    direccion,
                    telefono,
                    _token
                    ) {
                $.ajax("/clientes", {
                    method: 'POST',
                    contentType: 'application/json',
                    data: {
                        id: id,
                        nombre: nombre,
                        correo: correo,
                        direccion: direccion,
                        telefono: telefono
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("App broken :'( on add client");
                    },
                    success: function (data, textStatus, jqXHR) {
                        reloadMainTable();
                        $('#clientesForm')[0].reset();
                        $('#cliente_form').dialog('close');
                    }
                });
            }
        </script>
        <script>
            $(document).ajaxSend(function (e, xhr, options) {
                var token = $("#_token").val();
                var header = $("#_token_header_name").val();
                ;
                xhr.setRequestHeader(header, token);
            });
        </script>
        <script>
            $('#form_alta_dialog').dialog(
                    {
                        autoOpen: false,
                        modal: true,
                        width: 'auto',
                        height: 'auto',
                        buttons: {
                            "Ok": function () {
                                var nombre = $('#alta_nombre').val();
                                var telefono = $('#alta_telefono').val();
                                var direccion = $('#alta_direccion').val();
                                var correo = $('#alta_correo').val();
                                var saldo = $('#alta_saldo').val();
                                callAlta(nombre, telefono, direccion, correo, saldo);
                            },
                            "Cancelar": function () {
                                $('#form_alta_dialog').dialog('close');
                            }
                        }
                    }
            );
        </script>
        <script>
            function callAlta(nombre, telefono, direccion, correo, saldo) {
                $.ajax('/ClientesApplication/alta', {
                    data : {
                        nombre: nombre,
                        telefono: telefono,
                        direccion: direccion,
                        correo: correo,
                        saldo: saldo
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Call to stored procedure alta failed');
                    },
                    success: function (data, textStatus, jqXHR) {
                        $('#call_alta_result_content').html(data);
                        $('#call_alta_result').dialog('open');
                        reloadMainTable();
                    }
                });
            }
        </script>
    </body>
</html>
